<%- include('../header') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Sub Category Update</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Sub Category Update</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Sub Category Update</h3>
                            </div>
                            <div class="card-body">
                                <form action="/Admin/subcategory/subcategoryupdate" method="post" class="form-horizontal">

                                    <input type="hidden" name="sbid" value="<%= data.id %>">

                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <label for="select" class=" form-control-label">Select Category</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select name="cat_id" class="form-control">
                                                    <option>Select Category</option>
                                                    <% for(var sc of cetdata ) {%>
                                                    <option value="<%= sc.id %>" <% if(data.cat_id == sc.id) { %> <%='selected'%><%}%> ><%= sc.category %></option>
                                                    <% } %>
                                                </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Sub Category Name</label>

                                                <input type="text" class="form-control" placeholder="Sub Category Name" name="SubcategoryName" value="<%= data.SubcategoryName %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" card-footer ">
                                        <button type="submit " class="btn btn-primary ">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../footer') %>