<%- include('User_Header') %>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% var Subtotal=0; var i = 0; for(const ct of cartdata) { %>
                            <input type="hidden" id="len" value="<%= cartdata.length %>">
                            <tr>
                                <td class="align-middle"><img src="<%= ct.Product_id.image %>" alt="" style="width: 50px;">
                                    <%= ct.Product_id.name %>
                                </td>
                                <td class="align-middle" id="price<%=i%>">
                                    <%= ct.Product_id.Price %>
                                </td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <!-- - -->
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" onclick="change(<%=i%>,'-','<%=ct.id%>')">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                        </div>
                                        <!-- + -->
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center" id="quantity<%= i %>" value="<%= ct.quantity %>" onkeyup="change(<%=i%>,'ch','<%= ct.id %>')">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" onclick="change(<%=i%>,'+','<%=ct.id%>')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle" id="total<%= i %>">
                                    <%= ct.Product_id.Price * ct.quantity %>
                                </td>
                                <td class="align-middle"><a href="/delete/<%= ct.id %>" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                            </tr>
                            <% i++; Subtotal += (ct.Product_id.Price * ct.quantity)} %>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Sub Total</h6>
                            <h6 class="font-weight-medium" id="sub_total">₹
                                <%= Subtotal %>
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping Charges</h6>
                            <h6 class="font-weight-medium">₹ 100</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="f_total">₹
                                <%= Subtotal+100 %>
                            </h5>
                        </div>
                        <a href="/Chackout" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <%- include('User_Footer') %>

        <script>
            function change(index, op, id) {
                let quantity = $('#quantity' + index).val();
                let price = $('#price' + index).html();
                let len = $('#len').val();


                if (op == '-') {
                    --quantity;
                } else if (op == '+') {
                    ++quantity;
                } else if (op == 'ch') {
                    quantity == quantity;
                }

                console.log(quantity);

                $.ajax({
                    url: '/change_quantity',
                    method: 'post',
                    data: {
                        quantity,
                        id
                    },
                    success: (res) => {

                        if (res.status == 200) {
                            let total = quantity * price;
                            quantity.val = quantity;
                            $('#total' + index).html(total);
                            var sum = 0;
                            for (var i = 0; i < len; i++) {
                                var vl = $("#total" + i).html();
                                let vue = parseInt(vl);
                                sum += vue;
                            }
                            $('#sub_total').html(sum);
                            $('#f_total').html(sum + 100);
                        }
                    }
                })
            }
        </script>